body{
    background-color: rgb(253, 249, 244);
}
fieldset{
    width: 97%;
    border-radius: 15px;
}
.logo-text{
    width: fit-content;
    margin-left: 39.5%;
}
nav{
    margin-top: 15px;
}
nav .a1{
    margin-left: 275px;
    color: black;
    text-decoration: none;
}
#My .My-text h2{
    width: 58%;
    margin-left: auto;
}
p{
    width: 95%;
    margin: auto;
}
#My .My-img img{
    width: 230px;
    margin-left: 530px;
    margin-top: 12px;
    border: solid 3px rgb(251, 255, 0);
    border-radius: 5%;
}
#Projects h2,h3{
    width: 56%;
    margin-left: auto;
} 
#Projects .Projects-img img{
    width: 450px;
    margin-top: 15px;
    border: solid 3px rgb(251, 255, 0);
    border-radius: 15px;
    margin-left: 410px;
}
#Projects button a{
    color:  black;
    text-decoration: none;
}
#Projects button{
    background-color: rgb(251, 255, 0);
    border-radius: 25px;
    border: solid black 1px;
    width: 5%;
    height: 2%;
    margin-left: 600px;
    margin-top: 10px;
}
#Projects button:hover{
    background-color: rgb(189, 192, 0);
}
a:hover{
    color:gold;
}
footer p{
    width: 24%;
    margin: auto;
}
header button{
    background-color: black;
    width: 4%;
    height: 2%;
    border-radius: 15px;
    border: solid rgb(251, 255, 0) 2px;
}
header button a{
    color: rgb(251, 255, 0);
    text-decoration: none;
}